<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin - Création Données</title>
    <link rel="stylesheet" data-th-href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<header>
    <nav>
        <a data-th-href="@{/}">Accueil</a>

        <div style="float: right;">
            <div data-th-if="${#authorization.expression('isAnonymous()')}">
                <a data-th-href="@{/connexion}">Connexion</a>
            </div>

            <div data-th-if="${#authorization.expression('isAuthenticated()')}">
                <div>
                    Connecté en tant que : <span data-sec-authentication="name"></span><br/>
                    Rôles : <span data-th-text="${#authentication.authorities[0]}"></span>
                </div>

                <span data-th-if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a data-th-href="@{/admin/dashboard}">Dashboard</a>
                </span>
                <a data-th-href="@{/logout}">Déconnexion</a>
            </div>
        </div>
    </nav>

</header>
<body>
    <main>
    <h1>Création des données</h1>

    <form data-th-action="@{/admin/championship/create}" method="post">
        <h2>Créer un championnat</h2>

        <div>
            <label>Nom</label>
            <input type="text" name="name" required>
        </div>

        <div>
            <label>Logo (URL)</label>
            <input type="text" name="logo">
        </div>

        <div>
            <label>Date de début</label>
            <input type="date" name="startDate" required>
        </div>

        <div>
            <label>Date de fin</label>
            <input type="date" name="endDate" required>
        </div>

        <div>
            <label>Points pour une victoire</label>
            <input type="number" name="wonPoint" required>
        </div>

        <div>
            <label>Points pour un match nul</label>
            <input type="number" name="drawPoint" required>
        </div>

        <div>
            <label>Points pour une défaite</label>
            <input type="number" name="lostPoint" required>
        </div>

        <div>
            <label>Type de classement</label>
            <input type="text" name="typeRanking" placeholder="Ex: points" required>
        </div>

        <div>
            <label>Pays</label>
            <select name="countryId">
                <option data-th-each="country : ${countries}"
                        data-th-value="${country.id}"
                        data-th-text="${country.name}">
                </option>
            </select>
        </div>

        <button type="submit">Créer</button>
    </form>

    <form data-th-action="@{/admin/team/create}" method="post">
        <h2>Créer une équipe</h2>
        <label>Nom</label>
        <input type="text" name="name" required>
        <label>Date de création</label>
        <input type="date" name="creationDate" required>
        <label>Logo (URL)</label>
        <input type="text" name="logo">
        <label>Coach</label>
        <input type="text" name="coach">
        <label>Président</label>
        <input type="text" name="president">
        <label>Status</label>
        <input type="text" name="status">
        <label>Siège</label>
        <input type="text" name="siege">
        <label>Téléphone</label>
        <input type="text" name="phone">
        <label>Site web</label>
        <input type="text" name="webSite">
        <label>Stade</label>
        <select name="stadiumId">
            <option data-th-each="stadium : ${stadiums}" data-th-value="${stadium.id}" data-th-text="${stadium.name}"></option></select>
        <label>Pays</label>
        <select name="countryId">
            <option data-th-each="country : ${countries}"
                    data-th-value="${country.id}"
                    data-th-text="${country.name}">
            </option>
        </select>
        <button type="submit">Créer</button>
    </form>

    <form data-th-action="@{/admin/game/create}" method="post">
        <h2>Créer un match</h2>
        <label for="team1Id">Équipe 1</label>
        <select id="team1Id" name="team1Id" required>
            <option data-th-each="team : ${teams}" data-th-value="${team.id}" data-th-text="${team.name}"></option>
        </select>

        <label for="team2Id">Équipe 2</label>
        <select id="team2Id" name="team2Id" required>
            <option data-th-each="team : ${teams}" data-th-value="${team.id}" data-th-text="${team.name}"></option>
        </select>

        <label for="dayId">Journée</label>
        <select id="dayId" name="dayId" required>
            <option data-th-each="day : ${days}" data-th-value="${day.id}" data-th-text="${day.number}"></option>
        </select>

        <label for="score1">Score Équipe 1</label>
        <input type="number" id="score1" name="score1" min="0" required>

        <label for="score2">Score Équipe 2</label>
        <input type="number" id="score2" name="score2" min="0" required>

        <button type="submit">Créer le match</button>
    </form>
    </main>
</body>
</html>
