<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Résultats par compétition</title>
    <link rel="stylesheet" data-th-href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<header>
    <nav>
        <a data-th-href="@{/}">Accueil</a>

        <div style="float: right;">
            <div data-th-if="${#authorization.expression('isAnonymous()')}">
                <a data-th-href="@{/connexion}">Connexion</a>
            </div>

            <div data-th-if="${#authorization.expression('isAuthenticated()')}">
                <div>
                    Connecté en tant que : <span data-sec-authentication="name"></span><br/>
                    Rôles : <span data-th-text="${#authentication.authorities[0]}"></span>
                </div>

                <span data-th-if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a data-th-href="@{/admin/dashboard}">Dashboard</a>
                </span>
                <div data-th-if="${#authorization.expression('isAnonymous()')}">
                    <a data-th-href="@{/connexion}">Connexion</a>
                </div>
                <a data-th-href="@{/logout}">Déconnexion</a>
            </div>
        </div>
    </nav>

</header>
<body>
<main>
    <h1>Résultats par compétition</h1>
    <hr>
    <div data-th-each="entry : ${countryChampionshipTeams}" class="championship-section">
        <h2 data-th-text="${entry.key.name}">Nom du pays</h2>

        <div class="championships">
            <a data-th-each="championShip : ${entry.value.keySet()}"
               data-th-href="@{/championship/{id}(id=${championShip.id})}">
                <img data-th-src="@{'/images/flags/' + ${entry.key.name.toLowerCase()} + '.png'}" alt="flag" />
                <span data-th-text="${championShip.name}">Nom du championnat</span>
            </a>
        </div>
    </div>

    <div data-th-if="${errors}">
        <ul>
            <li data-th-each="error : ${errors}" data-th-text="${error}" style="color: red;"></li>
        </ul>
    </div>
</main>
</body>
</html>
