<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font
awesome/4.7.0/css/font-awesome.min.css">
    <title>Gestion Championnat</title>
</head>
<body>
<header>
    <nav>
        <a data-th-href="@{/}">Accueil</a>

        <!-- Bouton visible seulement si utilisateur a le rôle ADMIN -->
        <a data-th-if="${#authorization.expression('hasRole(''ADMIN'')')}"
           data-th-href="@{/admin/dashboard}">Dashboard</a>

        <!-- Connexion / Déconnexion -->
        <span data-th-if="${not #authorization.expression('isAuthenticated()')}">
            <a data-th-href="@{/login}">Connexion</a>
        </span>

        <span data-th-if="${#authorization.expression('isAuthenticated()')}">
            <a data-th-href="@{/logout}">Déconnexion</a>
        </span>
    </nav>
</header>


<h1>Inscription</h1>
<form data-th-action="@{/login}" method="post">
    <input type="text" name="username" placeholder="Nom d'utilisateur" />
    <input type="password" name="password" placeholder="Mot de passe" />
    <button type="submit">Se connecter</button>
</form>


</body>
</html>