<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" data-th-href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Gestion Championnat</title>
</head>
<body>
<header>
    <nav>
        <a data-th-href="@{/}">Accueil</a>

        <div style="float: right;">
            <div data-th-if="${#authorization.expression('isAnonymous()')}">
                <a data-th-href="@{/connexion}">Connexion</a>
            </div>

            <div data-th-if="${#authorization.expression('isAuthenticated()')}">
                <div>
                    Connecté en tant que : <span data-sec-authentication="name"></span><br/>
                    Rôles : <span data-th-text="${#authentication.authorities[0]}"></span>
                </div>

                <span data-th-if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a data-th-href="@{/admin/dashboard}">Dashboard</a>
                </span>
                <a data-th-href="@{/logout}">Déconnexion</a>
            </div>
        </div>
    </nav>

</header>
<main>
    <h1>Connexion</h1>
    <form data-th-action="@{/connexion}" method="post">
        <input type="text" name="username" placeholder="Nom d'utilisateur" />
        <input type="password" name="password" placeholder="Mot de passe" />
        <button type="submit">Se connecter</button>
    </form>
</main>
</body>
</html>