<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font
awesome/4.7.0/css/font-awesome.min.css">
    <title>Gestion Championnat</title>
</head>
<body>
<header>
    <nav>
        <a th:href="@{/}">Accueil</a>

        <div style="float: right;">
            <!-- Si l'utilisateur n'est pas connecté -->
            <div th:if="${#authorization.expression('isAnonymous()')}">
                <a th:href="@{/connexion}">Connexion</a> |
                <a th:href="@{/inscription}">Inscription</a>
            </div>

            <!-- Si l'utilisateur est connecté -->
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <!-- Si c'est un admin -->
                <span th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a th:href="@{/admin/dashboard}">Dashboard</a> |
                </span>

                <!-- Déconnexion (POST obligatoire avec Spring Security) -->
                <form th:action="@{/logout}" method="post" style="display:inline;">
                    <button type="submit">Déconnexion</button>
                </form>
            </div>
        </div>
    </nav>
</header>


<h1>Connexion</h1>
<form data-th-action="@{/login}" method="post">
    <input type="text" name="username" placeholder="Nom d'utilisateur" />
    <input type="password" name="password" placeholder="Mot de passe" />
    <button type="submit">Se connecter</button>
</form>


</body>
</html>