<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Détails de l'équipe</title>
    <link rel="stylesheet" data-th-href="@{/css/style.css}">
</head>
<header>
    <nav>
        <a data-th-href="@{/}">Accueil</a>

        <div style="float: right;">
            <div data-th-if="${#authorization.expression('isAnonymous()')}">
                <a data-th-href="@{/connexion}">Connexion</a>
            </div>

            <div data-th-if="${#authorization.expression('isAuthenticated()')}">
                <span data-th-if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <a data-th-href="@{/admin/dashboard}">Dashboard</a> |
            </span>

                <form data-th-action="@{/logout}" method="post" style="display:inline;">
                    <button type="submit">Déconnexion</button>
                </form>
            </div>
        </div>
    </nav>

</header>
<body>
<div class="team-container">
    <h1 data-th-text="${team.name}">Nom de l'équipe</h1>

    <div class="header-section">
        <div class="team-info">
            <p><strong>Nom :</strong> <span data-th-text="${team.name}"></span></p>
            <p><strong>Fondé en :</strong> <span data-th-text="${#temporals.format(team.creationDate, 'yyyy')}"></span></p>
            <p><strong>Président :</strong> <span data-th-text="${team.president}"></span></p>
            <p><strong>Entraîneur :</strong> <span data-th-text="${team.coach}"></span></p>
        </div>
        <div class="team-logo">
            <img data-th-src="@{${team.logo}}" alt="Logo" style="max-height: 120px;">
        </div>
    </div>

    <div class="admin-section">
        <h3>Administratif</h3>
        <p><strong>Site officiel :</strong> <a data-th-href="${team.webSite}" data-th-text="${team.webSite}"></a></p>
        <p><strong>Statut :</strong> <span data-th-text="${team.status}"></span></p>
        <p><strong>Siège :</strong> <br>
            <span data-th-text="${team.siege}"></span>
        </p>
    </div>

    <div class="stadium-section" data-th-if="${team.stadium != null}">
        <h3>Stade de <span data-th-text="${team.name}"></span></h3>
        <p><strong>Stade :</strong> <span data-th-text="${team.stadium.name}"></span></p>
        <p><strong>Capacité :</strong> <span data-th-text="${team.stadium.capacity}"></span> places</p>
        <p><strong>Adresse :</strong> <span data-th-text="${team.stadium.address}"></span></p>
        <p><strong>Tél. Stade :</strong> <span data-th-text="${team.stadium.phone}"></span></p>
    </div>
</div>
</body>
</html>
